<div id="search" class="search">
    <input id="search-input" type="text" placeholder="search people" name="search">
    <button id="search-btn" type="button">Search</button>
    <div id="search-results" class="search__results"></div>
</div>