<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>WS App</title>
</head>

<body>
    <h1>WS App: <%= sessionId %> </h1>
    <p id="message"></p>

    <script>
        document.body.onload = function () {
            console.log('creating socket');
            let socket = new WebSocket('ws://localhost:6868/');
            socket.onopen = function () {
                console.log('socket open');

                socket.send('Hello from client!');
            }

            socket.onmessage = function ({data}) {
                console.log(`Message from server ${data}`);
                document.getElementById('message').innerHTML = data;
            }
        }
    </script>
</body>

</html>